.twinkle-star-regular {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}

.short-stack-regular {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  margin: 30px;
  max-width: 700px;
}

:root {
  --marrom: #8E5841;
  --amarelo: #FFCC02;
  --laranja: #FD6D21;
  --areia: #FCF3EB;
}

* {
  font-family: "Twinkle Star", cursive;
  font-weight: 400;
  font-style: normal;
}

.apresentacao {
  text-align: center;
  flex: 1;
  font-size: 50px;
  background-color: var(--amarelo);
  color: var(--marrom);
  border-radius: 50px;
  padding: 20px;
}

.logo {
  flex: 1;
  border: 3px solid var(--marrom);
  background-color: var(--areia);
  margin: 30px 0;
  padding: 100px;
  border-radius: 60% 40% 55% 45% / 55% 60% 40% 45%;
}

.botoes {
  flex: 1;
  border: 3px solid var(--marrom);
}

.botoes div {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.botoes button {
  font-family: "Short Stack", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  align-items: center;
}

.logo-principal {
  width: 100%;
}